In [4]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
print("The first planet is", planets[0])
print("The second planet is", planets[1])
print("The third planet is", planets[2])
planets[3] = "Red Planet"
print("Mars is also known as", planets[3])
number_of_planets = len(planets)
print("There are", number_of_planets, "planets in the solar system.")

The first planet is Mercury
The second planet is Venus
The third planet is Earth
Mars is also known as Red Planet
There are 8 planets in the solar system.

In [ ]:
planets.append("Pluto")
number_of_planets = len(planets)
print("There are actually", number_of_planets, "planets in the solar system.")

In [ ]:
planets.pop()
number_of_planets = len(planets)
print("There are " + str(number_of_planets) + " planets in the solar system.")

In [7]:
print("The first planet is " + planets[0])

The first planet is,Mercury

In [8]:
jupiter_index = planets.index("Jupiter")
print("Jupiter is " + str(jupiter_index+1) + " planets from the sun")

Jupiter is 5 planets from the sun

In [12]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
gravity_on_planets = [0.378, 0.907, 1, 0.377, 2.36, 0.916, 0.889, 1.12]
bus_weight = 12650 #kg
planet_index = 0
print("On earth a bus would weigh " + str(bus_weight) + " kgs")
print("On " + str(planets[planet_index]) + " a bus would weigh " + str((gravity_on_planets[planet_index] * bus_weight)) + " kgs.")

print("The lightest a bus would be in the solar system is", bus_weight * min(gravity_on_planets), "kg")
print("The heaviest a bus would be in the solar system is", bus_weight * max(gravity_on_planets), "kg")

On earth a bus would weigh 12650 kgs
On Mercury a bus would weigh 4781.7 kgs.
The lightest a bus would be in the solar system is 4769.05 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [15]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets_before_earth = planets[0:2]
planets_after_earth = planets[3:8]
print(planets_before_earth + planets_after_earth)

['Mercury', 'Venus', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [18]:
amalthea_group = ["Metis", "Adrastea", "Amalthea", "Thebe"]
galilean_moons = ["Io", "Europa", "Ganymede", "Callisto"]

regular_satellite_moons = amalthea_group + galilean_moons
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']